
<h1>Edit <%= @user_product.name %></h1>

<form action="/user_product/<%= @user_product.slug %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">


  <h2>Create a name for your jewelry</h2>
  
  <label for="name"Name</label><br>
  <input type="text" name='product[product_name]'/><br><br>
  
  
  
  
  <h2>Product Material</h2><br>
  
    <label for="type">Silver</label>
    <input  type="radio"  name='product[alloy]' value="silver"/>
    <label for="type">Gold</label>
    <input  type="radio" name='product[alloy]' value="gold"/><br><br>
    
    
    
    <h3>Product Size</h3><br>
  
    <label for="size">6</label>
    <input  type="radio" name='product[size]' value="6" />
    <label for="size">6.5</label>
    <input  type="radio" name'product[size]' value="6.5" />
    <label for="size">7</label>
    <input  type="radio" name='product[size]' value="7" />
    <label for="size">7.5</label>
    <input  type="radio" name='product[size]' value="7.5" />
    <label for="size">8</label>
    <input  type="radio" name='product[size]' value="8" />
    <label for="size">8.5</label>
    <input  type="radio" name='product[size]' value="8.5" />
    <label for="size">9</label>
    <input  type="radio" name='product[size]' value="9" />
    <label for="size">9.5</label>
    <input  type="radio" name='product[size]' value="9.5" /><br><br>
    
    
  
    <h4>Gemstone</h4><br>
  
    <label for="gemstone">Opal</label>
    <input  type="radio" name='product[gemstone]' value="opal" />
    <label for="gemstone">Moonstone</label>
    <input  type="radio" name='product[gemstone]' value="Moonstone" />
    <label for="gemstone">CubicZirconia</label>
    <input  type="radio" name='product[gemstone]' value="cubiczirconia" />
    <input type="submit" value="Create New Jewelry"><br><br>
    </form>