
<h2>All Products</h2>


<ul>
  <%@products.each do |prod|%>
  <li><%= prod.type%></li>
  <%end%>
</ul>

<a class="button" href="products/new">Create New Product</a>
<a class="button" href="/">Home</a>