<h2>Create New Jewlery</h2>


<form action="/products" method="post">
<h1>Product Material</h1><br>
  <label for="type">Silver</label><br>
  <input id="type" type="checkbox" name="params['product']['type']" /><br>
  <label for="type">Gold</label><br>
  <input id="type" type="checkbox" name="params['product']['type']" /><br>
  
  
  <size>
  <h1>Product Size</h1><br>
  <label for="size">6</label>
  <input id="size" type="checkbox" name="product[size]" />
  <label for="size">6.5</label>
  <input id="size" type="checkbox" name="product[size]" />
  <label for="size">7</label>
  <input id="size" type="checkbox" name="product[size]" />
  <label for="size">7.5</label>
  <input id="size" type="checkbox" name="product[size]" />
  <label for="size">8</label>
  <input id="size" type="checkbox" name="product[size]" />
  <label for="size">8.5</label>
  <input id="size" type="checkbox" name="product[size]" />
  <label for="size">9</label>
  <input id="size" type="checkbox" name="product[size]" />
  <label for="size">9.5</label>
  <input id="size" type="checkbox" name="product[size]" /><br><br>
  </size>
  
  <label for="gemstone">Opal</label>
  <input id="gemstone" type="checkbox" name="product[gemstone]" /><br><br>
  <label for="gemstone">Moonstone</label>
  <input id="gemstone" type="checkbox" name="product[gemstone]" /><br><br>
  <label for="gemstone">CubicZirconia</label>
  <input id="gemstone" type="checkbox" name="product[gemstone]" /><br><br>
  <input type="submit" value="Create New Jewelry">
  </form>



