<h1>Create New Jewlery</h1>


<form action="/products" method="post">

<h2>Product Material</h2><br>

  <label for="type">Silver</label><br>
  <input  type="radio" name="product[type]" value="silver" /><br>
  <label for="type">Gold</label><br>
  <input  type="radio" name="type" value="gold" /><br>
  
  
  <size>
  <h3>Product Size</h3><br>

  <label for="size">6</label>
  <input id="size" type="radio" name= "product[size]" value="6" />
  <label for="size">6.5</label>
  <input id="size" type="radio" name="product[size]" value="6.5" />
  <label for="size">7</label>
  <input id="size" type="radio" name="product[size]" value="7" />
  <label for="size">7.5</label>
  <input id="size" type="radio" name="product[size]" value="7.5" />
  <label for="size">8</label>
  <input id="size" type="radio" name="product[size]" value="8" />
  <label for="size">8.5</label>
  <input id="size" type="radio" name="product[size]" value="8.5" />
  <label for="size">9</label>
  <input id="size" type="radio" name="product[size]" value="9" />
  <label for="size">9.5</label>
  <input id="size" type="radio" name="product[size]" value="9.5" /><br><br>
  </size>
  

  <h4>Gemstone</h4><br>

  <label for="gemstone">Opal</label>
  <input id="gemstone" type="radio" name="product[gemstone]" value="opal" /><br><br>
  <label for="gemstone">Moonstone</label>
  <input id="gemstone" type="radio" name="product[gemstone]" value="Moonstone" /><br><br>
  <label for="gemstone">CubicZirconia</label>
  <input id="gemstone" type="radio" name="product[gemstone]" value="cubiczirconia" /><br><br>
  <input type="submit" value="Create New Jewelry">
  </form>



