

<h1>View your products</h1>
<ul>
  <%@pruducts.each do |p|%>
  <li><%="<%="p.alloy"%>%></li>
  <%end%>
</ul>
 


#<a class="button" href="/products/<%= @product.id %>/edit">Edit Product</a>
#<a class="button" href="/products">Products</a>
